---
import Layout from "@layouts/Layout.astro";
import Whatsapp from "@/icons/Whatsapp.astro";
import Email from "@/icons/Email.astro";
import Form from "@/components/Form.astro";
import { getI18n } from "@/i18n";
import type { ActionError } from "astro:actions";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Layout title={i18n.CONTACT.PAGE_TITLE} description={i18n.CONTACT.META_DESCRIPTION}>
    <h1>
        <span class="blue-text">/&nbsp;</span>{i18n.CONTACT.TITLE}
    </h1>

    <section>
        <div>
            <p>{i18n.CONTACT.DESCRIPTION}</p>
        </div>
        <article>
            <div>
                <h3>{i18n.CONTACT.MESSAGE_ME}</h3>
                <ul>
                    <li><Whatsapp type="line" /> +51-921-853-713</li>
                    <li><Email type="line" /> ivandev2oo6@gmail.com</li>
                </ul>
            </div>

            <Form {...i18n.CONTACT.FORM}/>
        </article>
    </section>
</Layout>

<style>
    h1 {
        margin: 4rem 0 1rem 0;

        @media (max-width: 868px) {
            margin-top: 0;
        }
    }

    p {
        margin-bottom: 4rem;
        max-width: 600px;

        @media (max-width: 868px) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    section {
        width: 100%;
    }

    article {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    article div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }
</style>
