---
import Layout from "@layouts/Layout.astro";
import ProjectCard from "../ProjectCard.astro";
import { getI18n } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Layout
    title={i18n.PROJECTS.PAGE_TITLE}
    description={i18n.PROJECTS.META_DESCRIPTION}
>
    <header>
        <h1>
            <span class="blue-text">/&nbsp;</span>{i18n.PROJECTS.HEADER.TITLE}
        </h1>
        <p>{i18n.PROJECTS.HEADER.DESCRIPTION}</p>
    </header>

    <section>
        {
            i18n.PROJECTS.PROJECTS_LIST.map((project) => {
                const {
                    TAGS,
                    ISOPENSOURCE,
                    SOURCECODE,
                    PROJECTLINK,
                    IMAGE,
                    TITLE,
                    SUBTITLE,
                    DESCRIPTION,
                    YEAR,
                } = project;
                return (
                    <ProjectCard
                        buttonLabel={i18n.PROJECTS.BUTTON_CONTENT}
                        tags={TAGS}
                        projectLink={PROJECTLINK}
                        isOpenSource={ISOPENSOURCE}
                        sourceCode={SOURCECODE}
                        image={IMAGE}
                        title={TITLE}
                        year={YEAR}
                    >
                        <p slot="subtitle" class="subtitle">{SUBTITLE}</p>
                        <div slot="description">
                            <p>{DESCRIPTION.P1}</p>
                            <p>{DESCRIPTION.P2}</p>
                        </div>
                    </ProjectCard>
                );
            })
        }
    </section>
</Layout>

<style>
    header {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: var(--text-muted);

        @media (max-width: 1205px) {
            margin-top: 3rem;
        }

        @media (max-width: 1050px) {
            margin-top: 2rem;
        }

        @media (max-width: 970px) {
            margin-top: 1rem;
        }
    }

    section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        row-gap: 3rem;
        padding-top: 2rem;
    }

    p {
        margin-bottom: 1rem;
    }
</style>
