---
import BaseHead from '#/components/BaseHead.astro'
import Footer from '#/components/Footer.astro'
import Header from '#/components/Header.astro'
import { getLangFromUrl, getAlternateLinks } from '#/i18n/utils'

interface AlternateLink {
  lang: string
  href: string
}

interface Props {
  title: string
  description: string
  alternateLinks?: AlternateLink[]
  isBlogPost?: boolean
  type?: 'website' | 'article'
  publishedTime?: Date
  updatedDate?: Date
}

const {
  title,
  description,
  isBlogPost = false,
  type = 'website',
  publishedTime,
  updatedDate
} = Astro.props
const lang = getLangFromUrl(Astro.url)

const alternateLinks =
  Astro.props.alternateLinks ?? (isBlogPost ? [] : getAlternateLinks(Astro.url))
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead
      title={title}
      description={description}
      alternateLinks={alternateLinks}
      type={type}
      publishedTime={publishedTime}
      updatedDate={updatedDate}
    />
  </head>
  <body class='flex flex-col min-h-screen'>
    <Header />
    <slot />
    <Footer />
    <script>
      import '../scripts/reveal.ts'
    </script>
  </body>
</html>
